.section-hero {
  position: relative;

  .hero-background {
    background: #1190a3;
    height: 1120px;
    position: relative;
    border-radius: 45px;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 1;
    }

    .hero-text {
      position: relative;
      z-index: 2;
      top: 240px;
      padding-left: 77px;

      h1 {
        font-size: 64px;
        width: 970px;

        span {
          color: #21faff;
        }
      }

      p {
        width: 745px;
      }

      .link-hero {
        background: #1e7b89;
        display: inline-block;
        margin-top: 40px;
        padding: 20px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: white; // Biar tulisannya kelihatan
      }
    }
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .section-hero {
    .hero-background {
      height: 800px;
    }

    .hero-content {
      .hero-text {
        top: 150px;
        padding-left: 40px;

        h1 {
          font-size: 48px;
          width: 100%;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .section-hero {
    .hero-background {
      height: 600px;
      border-radius: 20px;
    }

    .hero-content {
      .hero-text {
        top: 100px;
        padding-left: 20px;

        h1 {
          font-size: 32px;
        }

        p {
          font-size: 14px;
        }

        .link-hero {
          margin-top: 20px;
          padding: 15px;
          font-size: 16px;
        }
      }
    }
  }
}
