.information-section {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    position: absolute;
  }
  .content {
    position: relative;
    padding-left: 70px;
    padding-top: 150px;
    z-index: 2;
    h1 {
      color: #0a4952;
      font-size: 50px;
      font-weight: 600;
      width: 460px;
    }
  }
}
