.section-form {
  padding: 0px 70px;
  display: flex;
  justify-content: space-between;
  z-index: 4;

  .sec-left {
    display: flex;
    flex-direction: column;
    gap: 46px;
    img {
      height: 45px;
      width: 41px;
    }
    .title {
      background: #0a4952;
      border-radius: 8px;
      width: 270px;
      padding: 19px 27px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-left {
        display: flex;
        align-items: center;
        gap: 10px;
        .title-text {
          h3 {
            font-weight: 600;
          }
        }
      }
    }
    .dec {
      h2 {
        color: #0a4952;
        font-size: 36px;
        font-weight: 400;
      }
      p {
        color: #676767;
        width: 460px;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 27px;
      .contact-company,
      svg path {
        color: #0a4952 !important;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
          font-size: 30px;
        }
        p {
          color: #676767;
          width: 410px;
        }
      }
    }
  }
}
