.login-container {
  display: flex;
  height: 100vh;
  background-color: white;
  .login-welcome {
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, #0a4952, #1190a3);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
    .login-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .logo {
        height: 50px;
        margin-right: 1rem;
      }

      .title {
        padding: 0;
        text-align: center;

        h2 {
          font-weight: 550;
          letter-spacing: 2.7px;
          font-size: 22px;
        }

        span {
          font-size: 0.9rem;
          color: white;
        }
      }
    }
    .welcome {
      font-size: 36px;
      font-weight: 600;
      width: 350px;
      text-align: center;
    }
    .text {
      width: 400px;
      text-align: center;
    }
    .text-link {
      padding: 10px 64px;
      border: 1px solid white;
      margin-top: 40px;
      border-radius: 10px;
      width: fit-content;
      text-decoration: none;

      &:hover {
        border: 1px solid #1190a3;
        background: #1190a3;
      }
    }
  }

  .login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .login-title {
      text-align: center;
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 700;
      color: #1190a3;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      .login-form-group {
        display: flex;
        flex-direction: column;
        label {
          margin-bottom: 6px;
          color: #0a4952;
          font-size: 20px;
        }

        input {
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 6px;
          margin-bottom: 16px;
          font-size: 1rem;
          width: 533px;
        }
      }
    }

    button {
      padding: 10px;
      background-color: #1190a3;
      width: 296px;
      color: white;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background-color: #0a4952;
      }
    }
  }
}
