.container-footer {
  background: #0a4952;
  padding-top: 49px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  .footer-content {
    padding-left: 127px;
    padding-right: 382px;
    display: flex;
    justify-content: space-between;
    .footer-sosmed {
      display: flex;
      flex-direction: column;
      gap: 19px;
      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          height: 45px;
          width: 41px;
        }
        .title-text {
          h3 {
            font-weight: 600;
          }
        }
      }
      .text-sosmed {
        width: 362px;
      }
      .sosmed {
        display: flex;
        gap: 10px;
        .icon {
          height: 24px;
          width: 31.8px;
        }
      }
    }

    .footer-nav {
      display: flex;
      flex-direction: column;
      gap: 15px;
      a {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid #1190a3;
    text-align: center;
    padding: 5px;
  }
  .absolute {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .container-footer {
    padding: 2rem;

    .footer-content {
      flex-direction: column;
      padding: 0;
      gap: 2rem;

      .footer-sosmed {
        .text-sosmed {
          width: 100%;
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 767px) {
  .container-footer {
    padding: 1rem;

    .footer-content {
      .footer-nav {
        align-items: center;
      }
    }

    .absolute {
      display: none;
    }
  }
}
